/****************CSS reset***************/
html,
body,
div,
p,
img,
h1, h2, h3, h4, h5, h6,
input, button,
ul, li{
  border: 0;
  margin: 0;
  padding: 0;
}

body {
  background-color: #282a36;
  color: #8be9fd;
  font-family: 'Inconsolata',monospace;
  height: 100%;
}

.grid-container {
  display: grid;
  grid-column-gap: 30px;
  grid-template-columns: auto auto 45% auto;
  margin-right:20px;
  margin-top: 40px;
}

.nav-bar {
  background-color: #44475a;
  margin-top: -40px;
  padding-top: 15px;
}

.nav-bar h4 {
  padding: 10px;
  text-align: left;
}

i {
  margin-right: 10px;
  font-size: 14px;
  width: 20px;
  height: 20px;
  text-align: center;
  color: #44475a!important;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
}

.nav-bar .blue i{
  background-color: #8be9fd;
}

.nav-bar .green i {
  background-color: #50fa74;
}

.nav-bar .orange i {
  background-color: #ffb86c;
}

.nav-bar .pink i {
  background-color: #ff79c6;
}

.nav-bar .purple i {
  background-color: #bd93f9;
}

.nav-bar .white i {
  background-color: #f8f8f2;
}

.nav-bar .yellow i {
  background-color: #e6db74;
}

h4 {
  font-weight: 300;
  text-align:center;
  text-transform: uppercase;
}

ul {
  list-style: none;
  margin-top: 40px;
}

li {
  margin-top: 10px;
  margin-bottom: 30px;
  text-align: left;
  border-color: #44475a;
  border-left-width: 3px;
  border-left-style: solid;
  padding-left: 10px;
}

li * {
  font-size: 14px;
  font-weight: 100;
  margin-bottom: 4px;
  line-height: 18px;
}

.history {
  width: 100%;
}

.history li {
  width: 100%;
}

.history a {
  display: inline-block;
  width: 75%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.history span {
    color: #999;
    display: inline-block;
    width: 20%;
    text-align: right;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text-align-center {
    text-align: center;
}

.time {
  color: #6272a4;
}

.time h2 {
  font-size: 120px;
  font-weight: 600;
}

.time h2 span:last-child {
  font-size: 40px;
}

.time p {
  text-transform: uppercase;
  font-weight: 200;
  font-size: 20px;
}

.blue {
  color: #8be9fd !important;
}
.green {
  color: #50fa74 !important;
}
.orange {
  color: #ffb86c !important;
}
.pink {
  color: #ff79c6 !important;
}
.purple {
  color: #bd93f9 !important;
}
.white {
  color: #f8f8f2 !important;
}
.yellow {
  color: #e6db74 !important;
}
